<!-- Modal -->
<div class="modal fade" id="review-modal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" id="modal-header" style="margin-top: 30px">

                <h2 class="modal-title" id="modal-title" align="left">All Reviews for....</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="float: right">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="review-body">
                <div id="my_image"> </div>
                {{!-- reviews are dynamically added to the modal --}}
                <div class="form-group" id="review-div">
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .modal-header {
        border-radius: 5%;
        background-color: orangered;
        font-family: 'Chango', cursive;
    }

    .btn {
        background-color: orangered;
        color: darkslategray;
        font-family: 'Chango', cursive;
    }

    .form-group {
        border-radius: 5%;
        background-color: orangered;
        font-family: 'Chango', cursive;

    }

    .modal-content {
        border-radius: 5%;
        background-color: darkslategray;
        font-family: 'Chango', cursive;

    }
</style>