<head>
    <link rel="icon" href="https://i.pinimg.com/564x/fe/8a/da/fe8ada4506e556737c4413a614b13033--bh-logo-buddhas-hand.jpg">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Chango" rel="stylesheet">

</head>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<body>
    <div class="container">

        {{> navbar }}

        <a href="/windows">
            <img class="zoom" id="window" src="/image/window2.jpg">
        </a>
        <a href="/windows">
            <img class="zoom" id="window1" src="/image/window.jpg">
        </a>
        <a href="/windows">
            <img class="zoom" id="window2" src="/image/window2.jpg">
        </a>
        <a href="/roofing">
            <img class="zoom1" id="roof1" src="/image/roof2.jpg">
        </a>
        <a href="/landscaping">
            <img class="zoom1" id="land" src="/image/land.jpg">
        </a>
        <a href="/roofing">
            <img class="zoom" id="roof2" src="/image/roof3.jpg">
        </a>
        <a href="/roofing">
            <img class="zoom" id="roof3" src="/image/roof4.jpg">
        </a>
        <a href="/painting">
            <img class="zoom" id="painter1" src="/image/paint.jpg">
        </a>

    </div>

</body>